<div class="middle">
    <h2> Want to discuss a new project? </h2>
    <h3> Say hello! let's discuss your ideas and make it happen </h3>

    <form class="form-styling" (submit)="sendMail()" ngNativeValidate #myForm>
        <div class="move-fix-input">
            <input autocomplete="off" required type="text" name="name" #nameField (focus)="onFocus('nameFieldFocused')"
                (blur)="onBlur('nameFieldFocused'); checkValue('nameField')">
        </div>
        <div class="move-fix-input">
            <input autocomplete="off" required type="email" name="email" #emailField
                (focus)="onFocus('emailFieldFocused')" (blur)="onBlur('emailFieldFocused'); checkValue('emailField')">
        </div>
        <div class="move-fix-textarea">
            <textarea [(ngModel)]="textAreaValue" autocomplete="off" required cols="30" rows="10" name="message"
                #messageField [value]="" (focus)="onFocus('messageFieldFocused')"
                (blur)="onBlur('messageFieldFocused'); checkValue('messageField')">
            </textarea>
        </div>

        <div class="label-container">
            <input #checkbox (change)="toggleButton()" id="checkbox" type="checkbox" name="privacy-policy">
            <label for="checkbox" class="column650">
                <div class="gap650">
                    <div class="nowrap">I've read the </div>
                    <a routerLink="privacy-policy" class="nowrap">privacy policy</a>
                </div>
                <div>
                    <div class="nowrap"> and agree to the processing of my data as outlined.</div>
                </div>
            </label>
        </div>
        <button #button disabled [ngClass]="{'buttonActive': buttonChecked}">Send message</button>
    </form>


    <div class="yourName" [ngClass]="{'moveUp': nameFieldFocused}">Your name</div>
    <div class="yourEmail" [ngClass]="{'moveUp': emailFieldFocused}">Your email</div>
    <div class="yourMessage" [ngClass]="{'moveUp': messageFieldFocused}">Your message</div>

    <div [ngStyle]="{'display': nameField.value.trim() === '' && nameFieldUsed ? 'unset' : 'none'}"
        class="required name-positioning">Your name is required</div>
    <div [ngStyle]="{'display': emailFieldUsed && emailField.value.trim() === '' ? 'unset' : 'none'}"
        class="required email-positioning">Your email is required</div>
    <div [ngStyle]="{'display': messageField.value.trim() === '' && messageFieldUsed ? 'unset' : 'none'}"
        class="required message-positioning">Your message is required</div>

    <img [ngStyle]="{'display': nameField.value.trim().length > 0 && nameFieldUsed ? 'unset' : 'none'}"
        src="../../../assets/img/check.png" class="img-name-positioning">
    <img [ngStyle]="{'display': nameField.value.trim() === '' && nameFieldUsed ? 'unset' : 'none'}"
        src="../../../assets/img/missing.png" class="img-name-positioning">

    <img [ngStyle]="{'display': emailField.value.trim().length > 0 && emailFieldUsed && (emailField.value.includes('@')) ? 'unset' : 'none'}"
        src="../../../assets/img/check.png" class="img-email-positioning">
    <img [ngStyle]="{'display': emailFieldUsed && emailField.value.trim() === '' ? 'unset' : 'none'}"
        src="../../../assets/img/missing.png" class="img-email-positioning">

    <img [ngStyle]="{'display': messageField.value.trim().length > 0 && messageFieldUsed ? 'unset' : 'none'}"
        src="../../../assets/img/check.png" class="img-message-positioning">
    <img [ngStyle]="{'display': messageField.value.trim() === '' && messageFieldUsed ? 'unset' : 'none'}"
        src="../../../assets/img/missing.png" class="img-message-positioning">
</div>