.header {
    background-color: #FFFCF3;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    height: 92px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    width: 1441px;

    img {
        height: 30px;
        width: auto;
        cursor: pointer;
    }

    @media (max-width: 1650px) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: unset;
    }

    @media (max-width: 600px) {
        padding: 0px 30px;
    }

}