.footer-page {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 30px 100px;
    padding-bottom: 80px;
    margin-top: -200px;
    color: #FFFCF3;
    min-height: 100vh;
    justify-content: space-between;
    background-size: 100%;
    background: linear-gradient(187deg, transparent 300px, #000000 0) top left;
    font-family: 'Overpass', sans-serif;
    cursor: default;

    @media (max-height:1000px) {
        background: linear-gradient(187deg, transparent 250px, #000000 0) top left;
        font-family: 'Overpass', sans-serif;
    }

    @media (max-width:1650px) {
        padding-top: 100px;
    }

    @media (max-width: 1300px) {
        align-items: center;
        padding-top: 300px;
        padding-bottom: 300px;
    }

    @media (max-height: 700px) {
        padding-bottom: 50vh;
    }
}

.footer-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 400px;
    width: 620px;

    h2 {
        font-size: 32px;
        font-weight: 700;
        margin-block-start: 0;
        margin-block-end: 0;
        color: #FF9900;

        @media (max-width: 650px) {
            text-align: center;
        }

        @media (max-width: 400px) {
            font-size: 20px;
        }
    }

    h3 {
        font-size: 23px;
        font-weight: 400;

        @media (max-width: 650px) {
            text-align: center;
        }

        @media (max-width: 400px) {
            font-size: 16px;
            width: 320px;
        }
    }

    span {
        font-size: 14px;
        font-weight: 400;
    }

    button:enabled {
        font-weight: 400;
        font-size: 23px;
        padding: 20px 60px;
        color: #FFFCF3;
        border: solid 4px #FFFCF3;
        background-color: black;
        cursor: pointer;
        margin-top: 20px;

        @media (max-width: 400px) {
            font-size: 20px;
            padding: 16px 40px;
        }
    }

    button:disabled {
        font-weight: 400;
        font-size: 23px;
        padding: 20px 60px;
        color: #BBBBBB;
        border: solid 4px #BBBBBB;
        background-color: black;
        cursor: pointer;
        margin-top: 20px;

        @media (max-width: 400px) {
            font-size: 20px;
            padding: 16px 40px;
        }
    }

    @media (max-width: 1650px) {
        margin-left: 25%;
    }

    @media (max-width: 1300px) {
        margin-left: 0;
    }

    @media (max-width: 650px) {
        width: 340px;
    }
}

.dnone {
    display: none;
}

.terms-and-conditions {
    display: flex;
    gap: 104px;

    @media (max-width: 650px) {
        display: unset;
    }
}


.footer-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    img {
        height: 30px;
        width: auto;
    }

    @media (max-width: 1300px) {
        align-items: center;
        flex-direction: column;
        padding-top: 40px;
        gap: 30px;
    }
}

.say-hi {
    font-size: 78px;
    font-weight: 800;
    font-family: 'Syne', sans-serif;

    &:hover {
        color: #FF9900;
    }

    @media (max-width: 650px) {
        font-size: 45px;
        white-space: nowrap;
    }

    @media (max-width: 400px) {
        font-size: 30px;
    }
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 23px;
    font-weight: 400;

    span {
        font-family: 'Poppins', sans-serif;
        font-size: 23px;
        font-weight: 400;

        @media (max-width: 400px) {
            font-size: 16px;
        }
    }

    img {
        cursor: pointer;
    }

    @media (max-width: 1300px) {
        flex-direction: column;
        align-items: unset;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        position: absolute;
        margin-top: 720px;
    }

    @media (max-width: 650px) {
        margin-top: 776px;
    }
}

.professional-contacts {
    height: 40px;
    display: flex;
    gap: 30px;

    img {
        height: 40px;
    }

    @media (max-width: 1300px) {
        justify-content: center;
    }
}

.legal-notice {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    padding-top: 18px;
    transition: 0.1s ease-in-out;

    &:hover {
        font-weight: bold;
    }

    @media (max-width: 1300px) {
        position: absolute;
        margin-top: 114px;
        margin-left: 54px;
    }

    @media (max-width: 400px) {
        margin-top: 108px;
        margin-left: 48px;
    }
}

.movefix {
    height: 10px;
}

.legal-notice-line {
    border-radius: 2px;
    width: 50px;
    height: 3px;
    position: relative;
    left: 50px;
    background-color: #FF9900;
    animation: slide-right 0.2s ease-in-out forwards;

    @media (max-width: 1300px) {
        display: none;
    }
}

@keyframes slide-right {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(84px);
    }
}

.d-none {
    display: none;
}

.arrow-up {
    position: relative;
    top: 740px;
    height: 74px;
    width: 54px;
    left: 1394px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateY(-25px);
    }

    @media (min-height:1000px) {
        top: 80vh !important;
    }

    @media (max-width:1650px) {
        top: 516px;
        left: 80vw;
    }

    @media (max-width:1300px) {
        display: none
    }
}

.icon-animation {
    transition: 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateY(-10px);
    }
}