.main-page {
    display: flex;
    flex-direction: column;
    background-color: #FFFCF3;
    justify-content: center;
    min-height: 100vh;
    gap: 60px;
    padding: 0px 100px;
    font-family: 'Overpass', sans-serif;
    margin-top: -100px;

    @media (max-width: 1650px) {
        width: auto;
        margin-top: unset;
    }

    @media (max-width: 900px) {
        gap: 100px;
        height: 10%;
    }

    @media (max-width: 600px) {
        padding: 0px 30px;
    }
}

.headline {

    font-size: 128px;
    font-weight: 800;
    text-align: center;
    font-family: 'Syne', sans-serif;

    @media (max-width: 1650px) {
        font-size: 85px;
    }

    @media (max-width: 900px) {
        font-size: 45px;
    }

    @media (max-width: 440px) {
        font-size: 36px;
    }

    @media (max-width: 400px) {
        font-size: 30px;
    }
}

.underneath-headline {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #FF9900;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    white-space: nowrap;


    img {
        width: 628px;
        height: 3px;

        @media (max-width: 1650px) {
            width: 300px;
        }

        @media (max-width: 900px) {
            width: 180px;
        }

        @media (max-width: 440px) {
            width: 150px;
        }

        @media (max-width: 400px) {
            width: 100px;
        }
    }

    @media (max-width: 1650px) {
        font-size: 43px;
    }

    @media (max-width: 900px) {
        font-size: 23px;
    }

    @media (max-width: 400px) {
        font-size: 16px;
    }
}

.headline-contacts {
    font-size: 23px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;

    img {
        position: relative;
        left: 640px;
        bottom: 200px;
        animation: arrow-down1 4s linear infinite;
        background-image: none;

        @media (max-width: 1650px) {
            position: absolute;
            right: 70px;
            margin-top: -184px;
            left: unset;
            bottom: unset;
        }

        @media (max-width: 900px) {
            margin-top: -100px;
        }

        @media (max-width: 600px) {
            right: 0px;
        }
    }

    span {
        @media (max-width: 900px) {
            padding-top: 100px;
        }
    }

    @media (max-width: 400px) {
        font-size: 20px;
    }

}

@keyframes arrow-down1 {
    from {
        background-image: url('../../assets/img/animations/arrow-down1.png');
        opacity: 1;
    }

    5% {
        background-image: url('../../assets/img/animations/arrow-down2.png');
    }

    8% {
        background-image: url('../../assets/img/animations/arrow-down3.png');
    }

    11% {
        background-image: url('../../assets/img/animations/arrow-down4.png');
    }

    14% {
        background-image: url('../../assets/img/animations/arrow-down5.png');
    }

    17% {
        background-image: url('../../assets/img/animations/arrow-down6.png');
    }

    20% {
        background-image: url('../../assets/img/animations/arrow-down7.png');
    }

    to {
        opacity: 0;
    }
}


.headline-email {
    rotate: 270deg;
    margin-left: -120px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;

    @media (max-width: 600px) {
        margin-left: -84px;
    }
}