<div class="project" (mouseover)="removeGrayscale()" (mouseout)="addGrayscale()">
    <div id="project-info3" class="project-info d-none">
        <h1>Simple CRM</h1>
        <h2>Angular | Firebase</h2>
        <span>A very Simple Customer Relationship Management system working with CRUD functionality.</span>
        <div class="space-between">
            <a href="#"><button> Github </button></a>
            <a href="#"><button> Try it </button></a>
        </div>
    </div>
    <img id="img3" src="./assets/img/portfolio-photos/portfolio-photo-crm.png">
    <div id="frame3" class="frame d-none"><img class="frame-arrow-animation"
            src="./assets/img/portfolio-photos/portfolio-arrow.png" id="frame-arrow"></div>
    <span class="project-number">03/04</span>
</div>