<app-navigation></app-navigation>

<section class="imprint">
    <a routerLink="" class="imprint__link section-animation-1">click to go back</a>

    <div class="imprint__section section-animation-1">
        <span class="imprint__title">Impressum</span>
        <span class="imprint__text">Ersan Bihorac</span>
        <span class="imprint__text">Software Entwickler</span>
        <span class="imprint__text">Maxstra&szlig;e 58</span>
        <span class="imprint__text">53111 Bonn</span>
    </div>

    <div class="imprint__section section-animation-2">
        <span class="imprint__title">Kontakt</span>
        <span class="imprint__text">E-Mail: contact@ebihorac.de</span>
    </div>

    <div class="imprint__section section-animation-3">
        <span class="imprint__title">Verbraucherstreitbeilegung/Universalschlichtungsstelle</span>
        <span class="imprint__text">Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</span>
    </div>
</section>