<div id="my-skills-page" class="my-skills-page scroll-mt">

    <div class="my-skills-header orange"> My skills </div>

    <div class="my-skills-box">

        <div class="column">
            <img src="./assets/img/skill-icons/angular.png">
            <span>Angular</span>
        </div>
        <div class="column">
            <img src="./assets/img/skill-icons/typescript.png">
            <span>TypeScript</span>
        </div>
        <div class="column">
            <img src="./assets/img/skill-icons/javascript.png">
            <span>JavaScript</span>
        </div>
        <div class="column">
            <img src="./assets/img/skill-icons/html.png">
            <span>HTML</span>
        </div>
        <div class="column">
            <img src="./assets/img/skill-icons/css.png">
            <span>CSS</span>
        </div>


        <div class="column">
            <img src="./assets/img/skill-icons/firebase.png">
            <span>Firebase</span>
        </div>
        <div class="column">
            <img src="./assets/img/skill-icons/git.png">
            <span>Git</span>
        </div>
        <div class="column">
            <img src="./assets/img/skill-icons/scrum.png">
            <span>Scrum</span>
        </div>
        <div class="column">
            <img src="./assets/img/skill-icons/api.png">
            <span>Rest-Api</span>
        </div>
        <div class="column">
            <img src="./assets/img/skill-icons/materialdesign.png">
            <span>Material<br>design</span>
        </div>

    </div>

    <div class="arrow-box">
        <img (mouseover)="addArrowAnimation()" id="arrow-right" src="./assets/img/arrow-right.png"
            alt="arrow-right">
    </div>

</div>