<div id="main-page" class="main-page">
    <div class="headline">
        <div>Frontend</div>
        <div>Developer</div>
        <div class="underneath-headline"> <img src="./assets/img/main-page-line.png" alt="line">
            Ersan Bihorac
        </div>
    </div>

    <div class="headline-contacts">
        <a class="headline-email" href="#footer">ersan.bihorac.2003&#64;gmail.com</a>
        <img src="./assets/img/animations/arrow-down1.png">
        <span>Scroll <br> Down</span>
    </div>
</div>