<div id="portfolio-page">
    <div class="portfolio-page">
        <h1>Portfolio</h1>
        <span>This page is a sample of my work - please feel free to try them out.</span>
    </div>

    <app-project-1 class="syne"></app-project-1>
    <app-project-2 class="syne"></app-project-2>
    <app-project-3 class="syne"></app-project-3>
    <app-project-4 class="syne"></app-project-4>
    <app-project-5 class="syne"></app-project-5>

    <img class="arrow-left" src="../../assets/img/arrow-left.png" alt="">
</div>