.portfolio-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
    font-family: 'Syne', sans-serif;

    h1 {
        font-size: 78px;
        font-weight: 800;
        margin-block-start: 0;
        margin-block-end: 0;
        z-index: 1;
    }

    h1:hover {
        color: #FF9900;
    }

    span {
        width: 500px;
        font-size: 23px;
        font-weight: 400;
        font-family: 'Overpass', sans-serif;
    }
}

.arrow-box {
    overflow: hidden;
    max-width: 100vw;
    margin: 100px 0px;
}

.move-down {
    animation: arrow-move-down 0.2s ease-in-out forwards;
}

@keyframes arrow-move-down {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
        transform: translate(-100px, 100px);
    }
}

.arrow-left {
    position: relative;
    left: 440px;
}

.syne {
    font-family: 'Syne', sans-serif;
}