<div class="project" (mouseover)="removeGrayscale()" (mouseout)="addGrayscale()">
    <div id="project-info1" class="project-info d-none">
        <h1>Join</h1>
        <h2>Angular | TypeScript | HTML | CSS | Firebase</h2>
        <span>Task manager inspired by the Kanban System. Create and organize tasks sing drag and drop functions, assign
            users and categories.</span>
        <div class="space-between">
            <a href="https://github.com/TherealBarbos/Developer_Akademie_Join"><button> Github </button></a>
            <a href="https://ersan-bihorac.de/JOIN/assets/html/page1.html"><button> Try it </button></a>
        </div>
    </div>
    <img id="img1" src="./assets/img/portfolio-photos/portfolio-photo-join.png">
    <div id="frame1" class="frame d-none"><img class="frame-arrow-animation"
            src="./assets/img/portfolio-photos/portfolio-arrow.png" id="frame-arrow">
    </div>
    <span class="project-number">01/04</span>
</div>