<div class="project" (mouseover)="removeGrayscale()" (mouseout)="addGrayscale()">
    <div id="project-info5" class="project-info">
        <h1>Crypto Converter</h1>
        <h2>Angular | JavaScript | RestAPI | HTML | CSS</h2>
        <span>Simple currency converter based on a public API displaying exchange rate charts.</span>
        <button> Github </button>
    </div>
    <img id="img5" src="../../../assets/img/portfolio-photos/portfolio-photo-cryptoconverter.png">
    <div id="frame5" class="frame d-none"><img class="frame-arrow-animation"
            src="../../../assets/img/portfolio-photos/portfolio-arrow.png" id="frame-arrow"></div>
    <span>05/05</span>
</div>