<div class="project" (mouseover)="removeGrayscale()" (mouseout)="addGrayscale()">
    <div id="project-info4" class="project-info d-none">
        <h1>Pokédex</h1>
        <h2>JavaScript | HTML | CSS | Api</h2>
        <span>Based on the PokéAPI a simple library that provides and catalogues pokemon information.</span>
        <button> Github </button>
    </div>
    <img id="img4" src="../../../assets/img/portfolio-photos/portfolio-photo-pokedex.png">
    <div id="frame4" class="frame d-none"><img class="frame-arrow-animation"
            src="../../../assets/img/portfolio-photos/portfolio-arrow.png" id="frame-arrow"></div>
    <span class="project-number">04/04</span>
</div>