.project {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;

    span {
        font-size: 48px;
        font-weight: 700;
    }

    img {
        height: 400px;
        width: auto;
        padding: 10px 0px;
        z-index: 1;
        filter: grayscale(1);

        @media (max-width: 850px) {
            height: 300px;
        }

        @media (max-width: 550px) {
            height: 220px;
        }
    }

    @media (max-width: 1650px) {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 400px;
    }
}

.project-number {
    font-size: 48px;
    font-weight: 700;

    @media (max-width: 1650px) {
        margin-left: 450px;
    }

    @media (max-width: 850px) {
        font-size: 32px !important;
        margin-left: 350px;
    }

    @media (max-width: 550px) {
        margin-left: 250px;
    }
}

.grayscale-none {
    filter: grayscale(0) !important;
}

.d-none {
    display: none;
}

.info-animation {
    animation: slide 0.25s ease-in forwards;
}

@keyframes slide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(800px);
    }
}

.info-animation-1650px {
    animation: slide1650px 0.25s ease-in forwards;
}

@keyframes slide1650px {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(340px);
    }
}

.frame-arrow-animation {
    animation: rotate-expand 0.25s ease-in forwards;
}

@keyframes rotate-expand {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
        rotate: -145deg;
        scale: 2;
    }
}

.frame {
    height: 400px;
    width: 620px;
    border: solid 4px black;
    position: relative;
    right: 622px;
    z-index: 2;
    top: 30px;
    pointer-events: none;

    img {
        height: 48px;
        width: 48px;
        position: relative;
        left: 600px;
        top: 140px;

        @media (max-width: 850px) {
            position: relative;
            left: 452px;
            top: 100px;
        }

        @media (max-width: 550px) {
            position: relative;
            left: 328px;
            top: 84px;
            height: 28px;
            width: 28px;
        }
    }

    @media (max-width: 1650px) {
        position: absolute;
        right: unset;
        z-index: 2;
        top: unset;
        margin-left: 40px;
        margin-bottom: -20px;
    }

    @media (max-width: 850px) {
        height: 300px;
        width: 472px;
    }

    @media (max-width: 550px) {
        height: 214px;
        width: 340px;
        margin-left: 20px;
        margin-bottom: -2px;
    }
}

.project-info {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
    padding-top: 100px;
    position: absolute;

    h1 {
        font-size: 34px;
        font-weight: 800;
        font-family: 'Syne', sans-serif;
        margin-block-start: 0;
        margin-block-end: 0;

        @media (max-width: 850px) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 23px;
        font-weight: 400;
        font-family: 'Overpass', sans-serif;
        color: #FF9900;
        margin-block-start: 0;
        margin-block-end: 0;

        @media (max-width: 850px) {
            font-size: 18px;
        }
    }

    span {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Overpass', sans-serif;
    }

    button {
        font-size: 23px;
        font-weight: 400;
        font-family: 'Overpass', sans-serif;
        width: 200px;
        height: 70px;
        padding: 20px 60px;
        border: solid 4px black;
        background-color: rgba(255, 255, 255, 0);
        transition: 0.2s;
        cursor: pointer;
    }

    button:hover {
        width: 240px;
        font-weight: bold;
    }

    @media (max-width: 1650px) {
        padding-bottom: 40px;
    }

    @media (max-width: 850px) {
        width: 400px;
    }

    @media (max-width: 550px) {
        width: 340px;
    }
}