<div class="project" (mouseover)="removeGrayscale()" (mouseout)="addGrayscale()">
    <div id="project-info2" class="project-info">
        <h1>El Pollo Loco</h1>
        <h2>JavaScript | HTML | CSS</h2>
        <span>A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and salsa bottles
            to fight against the killer chicken.</span>
        <a href="https://github.com/ErsanBihorac/El-Pollo-Loco"><button> Github </button></a>
    </div>
    <img id="img2" src="../../../assets/img/portfolio-photos/portfolio-photo-elpolloloco.png">
    <div id="frame2" class="frame d-none"><img class="frame-arrow-animation"
            src="../../../assets/img/portfolio-photos/portfolio-arrow.png" id="frame-arrow"></div>
    <span>02/05</span>
</div>