<div id="burger-menu-page" class="burger-menu-page d-none">
    <div class="headers">

        <div>
            <span>About me</span>
            <div id="aboutme-container" (click)="goTo('about-me-page')"
                (mouseenter)="headerAnimation('aboutme-container','aboutme-img')"
                (mouseleave)="headerAnimationReverse('aboutme-container','aboutme-img')"
                class="about-me-rectangle rectangle1">
                <img id="aboutme-img" src="../../assets/img/animations/burgermenu-rectangle1.png">
            </div>
        </div>

        <div>
            <span>My skills</span>
            <div id="myskills-container" (click)="goTo('my-skills-page')"
                (mouseenter)="headerAnimation('myskills-container','myskills-img')"
                (mouseleave)="headerAnimationReverse('myskills-container','myskills-img')"
                class="myskills-rectangle rectangle1">
                <img id="myskills-img" src="../../assets/img/animations/burgermenu-rectangle1.png">
            </div>
        </div>

        <div>
            <span>Portfolio</span>
            <div id="portfolio-container" (click)="goTo('portfolio-page')"
                (mouseenter)="headerAnimation('portfolio-container','portfolio-img')"
                (mouseleave)="headerAnimationReverse('portfolio-container','portfolio-img')"
                class="portfolio-rectangle rectangle1">
                <img id="portfolio-img" src="../../assets/img/animations/burgermenu-rectangle1.png">
            </div>
        </div>

    </div>

    <div class="burger-menu-footer">
        <h1>Say Hi!</h1>
        <div class="lower-part">
            <h3>ersan.bihorac.2003&#64;gmail.com</h3>
            <div class="logos">
                <a href="https://github.com/ErsanBihorac"><img class="logo-animation"
                        src="../../assets/img/github-button.png"></a>

                <div><img (click)="goTo('footer')" class="logo-animation" src="../../assets/img/email-button.png"></div>

                <a href="https://www.linkedin.com/in/ersan-bihorac-134743299/"><img class="logo-animation"
                        src="../../assets/img/linkedin-button.png"></a>
            </div>
        </div>
    </div>
</div>